@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900|Rubik:300,400,500,700,900|Titillium+Web:200,300,400,600,700,900');

$font-base: 'Rubik', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-light: 300;
$line-height-normal: 1.6;

$max-width-small: 420px;
$max-width: 720px;

$border-radius: 3px;

$breakpoint: (
	medium: 420px,
	large: 720px
);

$space: (
	sm: 5px,
	md: 10px,
	default: 20px,
	lg: 40px,
	xl: 80px
);

$w3-colors: (
	ed: white,
	fpwd: hsl(10,55%,55%),
	wd: hsl(20, 78%, 55%),
	lc: hsl(30, 68%, 65%),
	cr: hsl(62, 86%, 45%),
	pr: hsl(89, 53%, 44%),
	rec: hsl(129, 53%, 40%),
	note: hsl(129, 53%, 40%)
);

$font-size: (
	sm: 13px,
	default: 15px,
	md: 19px,
	lg: 24px,
	xl: 33px
);

$color-primary: #d2588e;
$color-secondary: #2e66a8;
$color-text: #333;
$color-black: $color-text;
$color-white: #fff;
$color-cloudy: #d9d9d9;
$color-sunny: #fee268;
$color-rainy: #62c6dd;
$color-cloudy-dark: darken($color-cloudy, 20%);
$color-cloudy-light: lighten($color-cloudy, 8%);

$weather-colors: (
	thunderstorm: $color-cloudy,
	hail: $color-cloudy,
	partly-cloudy-night: $color-cloudy,
	partly-cloudy-day: $color-cloudy,
	cloudy: $color-cloudy,
	fog: $color-cloudy,
	snow: $color-cloudy,
	sleet: $color-rainy,
	rain: $color-rainy,
	clear-night: $color-sunny,
	clear-day: $color-sunny,
	wind: $color-cloudy
);