@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

$font-base: 'Rubik', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-normal: 1.6;

$max-width-small: 420px;
$max-width: 720px;

$border-radius: 3px;

$breakpoint: (
	medium: 420px,
	large: 720px
);

$space: (
	sm: 5px,
	md: 10px,
	default: 20px,
	lg: 40px,
	xl: 80px
);

$w3-colors: (
	ed: white,
	fpwd: hsl(10,55%,55%),
	wd: hsl(20, 78%, 55%),
	lc: hsl(30, 68%, 65%),
	cr: hsl(62, 86%, 45%),
	pr: hsl(89, 53%, 44%),
	rec: hsl(129, 53%, 40%),
	note: hsl(129, 53%, 40%)
);

$font-size: (
	sm: 13px,
	default: 16px,
	md: 19px,
	lg: 24px,
	xl: 33px
);

$color-text: #333;
$color-black: $color-text;
$color-white: #fff;
