$block: 'byline';

.#{$block} {
	height: 0;
	transition: height 300ms cubic-bezier(0, 1, 0.5, 1);
	padding: 0 map-get($space, default);
	text-align: right;

	&__trigger {
		font-size: map-get($font-size, md);
		cursor: pointer;
		line-height: 60px;
		display: inline-block;
		&:after {
			content: "\01F469\0200D\01F4BB";
			text-align: center;
		}
		&:hover {
			background: none;
			&:before {
				opacity: 1;
			}
		}
	}

	&__content {
		max-width: $max-width;
		margin: auto;
		font-size: map-get($font-size, sm);
		a {
			border-bottom: 1px dotted mediumpurple;
			&:hover {
				border-bottom-color: thistle;
			}
		}
	}

	&.active {
		height: 60px;
		background: lavender;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: left;
		margin-bottom: map-get($space, default);

		.#{$block}__trigger {
			animation: fadeIn 500ms;
		}
	}
}